body {
  margin: 10;
  padding: 0;
  color: var(--vscode-foreground);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  font-family: var(--vscode-font-family);
  background-color: var(--vscode-editor-background);
}

/* toolbar styles */
#toolbar {
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  padding-left: 0px;
  font-size: 10pt;
  font-weight: normal;
  display: inline-block;
  white-space: nowrap;
  height: 36px;
}

#toolbar-left {
  display: inline-block;
  padding-top: 5px;
  width: calc(100% - 120);
}

#toolbar-right {
  position: absolute;
  top: 5px;
  right: 0px;
  width: 32px;
  height: 32px;
  padding-left: 5px;
  background-color: var(--vscode-editor-background);
}

#toolbar a {
	border: none;
	padding: var(--input-padding-vertical) 10px var(--input-padding-vertical) 10px;
	font-family: var(--vscode-font-family);
	text-align: center;
	text-decoration: none;
	outline: 1px solid transparent;
	outline-offset: 2px !important;
	color: var(--vscode-button-foreground);
	background: var(--vscode-button-background);
}

#toolbar a:hover {
	cursor: pointer;
	background: var(--vscode-button-hoverBackground);
}

#toolbar a:focus {
	outline-color: var(--vscode-focusBorder);
}

/* tabulator table styles */
#table-container {
	background-color: var(--vscode-editor-background);
	border: 1px solid var(--vscode-panel-border);
  height: calc(100% - 40);
	overflow: hidden;
}

#table-container .tabulator-header {
	background-color: var(--vscode-editor-background);
	color: var(--vscode-editor-foreground);
	border: none;
}

/* allow column header names to wrap lines */
#table-container .tabulator-header .tabulator-col,
#table-container .tabulator-header .tabulator-col-row-handle {
	background-color: var(--vscode-editor-background);
	border: 1px solid var(--vscode-panel-border);
	font-weight: normal;
	white-space: normal;
	min-height: 24px;
}

/* table rows */
#table-container .tabulator-tableHolder .tabulator-table .tabulator-row {
	color: var(--vscode-editor-foreground);
	background-color: var(--vscode-editor-background);
	border: none;
}

/* even rows */
#table-container .tabulator-tableHolder .tabulator-table .tabulator-row:nth-child(even) {
	background-color: var(--vscode-editor-background);
	border: none;
}
